<div>
    <h2>
        Employee Information
    </h2>

    <input type = "radio" value="all" [(ngModel)]='empRadio' (change)='onEmpChoiceChange()'> All({{allCount}}) |
    <input type = "radio" value="Admin" [(ngModel)]='empRadio' (change)='onEmpChoiceChange()'>Admin ({{adminCount}}) |
    <input type = "radio" value="Programmer" [(ngModel)]='empRadio' (change)='onEmpChoiceChange()'> Programmer ({{programmerCount}}) |
    <input type = "radio" value="Developer" [(ngModel)]='empRadio' (change)='onEmpChoiceChange()'> Developer ({{developerCount}}) |
</div>
<hr>
