<div>
    <app-employe-info
        [allCount]= 'getAllCount()'
        [adminCount]='getAdminCount()'
        [programmerCount]= 'getProgrammerCount()'
        [developerCount]= 'getDeveloperCount()'
        (childEvent)='onEmpChoiceChanged($event)'
    ></app-employe-info>
    <h2>List of Employee</h2>
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Role </th>
                <th> Salary </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor = 'let e of employees;'>
                <tr *ngIf='selectedRole == "all" || selectedRole == e.role'>
                    <td>{{e.id}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.role}}</td>
                    <td>{{e.salary}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <hr>
    <table>
        <tbody>
            <tr>
                <td> ID </td>
                <td> <input type="number" [(ngModel)]='emp.id'></td>
                <td> <button (click)='createRow()'> Create Row</button></td>
            </tr>
            <tr>
                <td> Name </td>
                <td> <input type="text" [(ngModel)]='emp.name'></td>
                <td> <button (click)='retrieveRow(emp.id)'> Retrive Row</button></td>
            </tr>
            <tr>
                <td> Role </td>
                <td> <input type="text" [(ngModel)]='emp.role'></td>
                <td> <button (click)='updateRow(emp.id)'> Update Row</button></td>
            </tr>
            <tr>
                <td> Salary </td>
                <td> <input type="number" [(ngModel)]='emp.salary'></td>
                <td> <button (click)='deleteRow(emp.id)'> Delete Row</button></td>
            </tr>
        </tbody>
    </table>
</div>
